@model DCRetailerWeb.Models.Campaign

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Campaign</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CampaignTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CampaignTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CampaignType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CampaignType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CampaignDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CampaignDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CampaignSponser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CampaignSponser)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CampaignMedia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CampaignMedia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CampaignStartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CampaignStartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CampaignEndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CampaignEndDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CampaignId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
